@charset "ISO-8859-1";

* {
	margin: 0px;
	padding: 0px;
	z-index: 0;
}

.header {
	height: 75px;
	width: 100%;
	background: white;
}

#HeaderLOGO {
	width: 75px;
	height: 100%;
	float: left;
}

.headerButtons {
	background: white;
	width: 100px;
	height: 60px;
	text-align: center;
	margin-right: 10px;
	margin-top: 5px;
	cursor: pointer;
}

.buttontext {
	margin-top: 20%;
	border-bottom-style: solid;
	border-width: 0.25px;
}

.button {
	width: 150px;
	height: 50px;
	background-color: #ff0000; /* Red */
	border: none;
	color: white;
	padding: 0px 32px;
	padding-top: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	vertical-align: middle;
	cursor: pointer;
}

.headerButtonsContainer {
	display: -webkit-inline-box;
	margin: 0 35%;
}

@media only screen and (max-width: 1717px) {
	.headerButtonsContainer {
		margin: 0 33%;
	}
}
@media only screen and (max-width: 1514px) {
	.headerButtonsContainer {
		margin: 0 31%;
	}
}
@media only screen and (max-width: 1354px) {
	.headerButtonsContainer {
		margin: 0 29%;
	}
}

.MainPage {
	margin:0;
	width: 100%;
}

.container {
	height: 350px;
	width: 48%;
	background: white;
	margin-top: 20px;
}

p {
	font-size: 20px;
	color: #6e6e6e;
}

.banner {
	text-align: center;
	background-image: url("background.jpg");
	color: white;
	height: 300px;
	width: 100%;
}

.wideContainer {
	height: 350px;
	width: 100%;
	background: #f8ff88;
	margin-top: 15px;
}

.footer {
	
}

h2 {
	margin-bottom: 25px;
	border-bottom-style: solid;
	border-width: 1px;
}